

<br>
<div class="title"><h2>Choose Your Puppy!</h2> </div> <br> <br>
<body>
<div class="container_container">
  <% @dogs.each do |dog| %>
<div class="container">

  <img src="<%= dog.photos.first.large %>" alt="Avatar" class="dog_image" style="width:100%">
  <div class="middle">
    <div class="text">
      <%= link_to dog.name, dog_path(dog.id) %> <br>
      <hr>
      <%= dog.sex %> <br>
      <%= dog.age %>
    </div>
  </div>
</div>
<% end %>
</div>
</body>
